  .heading {
      font-size: 1.25rem !important;
      color: #333;
      margin-bottom: 20px;
  }

  .statValue {
      font-size: 1.5rem;
      color: darkcyan;
  }

  .upArrow {
    color: #28a745; /* Green color for upward trend */
    margin-left: 5px;
    font-size: 1.75rem;
    font-weight: bold;
  }